* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

main {
    text-align: center;
    padding: 80px 50px;
    background-color: #eee;
    flex: 1;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; 
    z-index: 10; 
    margin-top: 0; 
}


.header .logo {
    height: 80px;
    margin-right: auto;
}

.menu {
    display: flex;
    gap: 10px; 
}

.menu button {
    background-color: #dbdbdb;
    border: 0;
    border-radius: 12px;
    padding: 10px 15px;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #121212;
    cursor: pointer;
    transition: box-shadow 0.2s;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
    text-align: center;
    white-space: nowrap; 
}

.menu button:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
}

header .logo {
    height: 50px;
}

header .menu a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

header .menu a.active {
    text-decoration: underline;
}

header .menu a:hover {
    color: #ffcc00;
}

main h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #000000;
}

.faq-section {
    margin-bottom: 40px;
}

.faq-section h2 {
    color: #000000;
    margin-bottom: 10px;
}

details {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

details summary {
    font-weight: bold;
    cursor: pointer;
    color: #000000;
}

details summary:hover {
    color: #52514d;
}

details p {
    margin-top: 10px;
    color: #857e7e;
}


footer {
    text-align: center;
    padding: 10px 0;
    background-color: #cacaca;
    color: #000000;
    margin-top: 30px;
}

footer p {
    margin: 0;
}
.link-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.link-button:hover {
    background-color: #0056b3;
}